# Serial Killers
Analiza danych ze zbioru: https://www.kaggle.com/datasets/vesuvius13/serial-killers-dataset

In [1]:
# import package to analysis
import numpy as np
import pandas as pd
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
# init_notebook_mode - to show plotly in Notebook's output
init_notebook_mode(connected = True)
import matplotlib.pyplot as plt
import plotly.offline as pyo
import plotly.graph_objs as go
from plotly import subplots
import plotly.figure_factory as ff

In [5]:
# import data
less_than_5 = pd.read_csv('Lessthan_5_victim_count.csv', sep = ',')
from_5_to_14 = pd.read_csv('5_to_14_victim_count.csv', sep = ',')
from_15_to_30 = pd.read_csv('15_to_30_victim_count.csv', sep = ',')
highest = pd.read_csv('Highest_victim_count.csv', sep = ',')

# Display first rows in all data
display(less_than_5.head())
display(from_5_to_14.head())
display(from_15_to_30.head())
display(highest.head())

# Display info about dataframes
display(less_than_5.info())
display(from_5_to_14.info())
display(from_15_to_30.info())
display(highest.info())

,Name,Country,Years active,Proven victims,Possible victims,Notes
0,Charlie Brandt,United States,1971 to 2004,4,29,Committed suicide by hanging after murdering h...
1,Robert Black,United Kingdom\r\nIreland (suspected)\r\nWest ...,1981 to 1986,4,18+,"Convicted of kidnapping, raping and murdering ..."
2,Max Gufler,Austria,1946 to 1958,4,18,"Poisoned and drowned four women, but suspected..."
3,Ernesto Picchioni,Italy,1949 and earlier,4,16,Murdered people who approached his home; died ...
4,Baekuni,Indonesia,1993 to 2010,4,14,Pedophile who raped and killed young boys; ini...

,Name,Country,Years active,Proven victims,Possible victims,Notes
0,Carl Eugene Watts,United States,1974 to 1982,14,80+,Believed to have killed over 80 women in multi...
1,Philipp Tyurin,Soviet Union,1945 to 1946,14,29,"Known as the ""Leningrad Maniac"" and the ""Hellr..."
2,Zdzisław Marchwicki,Poland,1964 to 1970,14,21+,Also known as Vampire of Zagłębie. Killed 14 w...
3,Monster of Florence,Italy,1968 to 1985,14,16,Unidentified killer who shot couples in lovers...
4,Joachim Kroll,West Germany,1955 to 1976,14,NaN,"Known as the ""Ruhr Cannibal"" and ""The Duisburg..."

,Name,Country,Years active,Proven victims,Possible victims,Notes
0,Karl Denke,Germany,1900 to 1924,30,42+,Killed and cannibalized poor travelers and hom...
1,Francisco das Chagas Rodrigues de Brito,Brazil,1989 to 2003,30,42,"Pedophile who sexually abused, murdered and mu..."
2,Luis Gregorio Ramírez Maestre,Colombia,2010 to 2013,30,30,Killed motorists in various municipalities bef...
3,David Thabo Simelane,Swaziland,2000 to 2001,28,45,Sexually assaulted women he befriended in fore...
4,Zhang Jun,China,1993 to 2000,28,28,"Robbed 22 stores in several Chinese provinces,..."

,Name,Country,Years active,Proven victims,Possible victims,Notes
0,Luis Garavito,Colombia\r\nEcuador\r\nVenezuela,1992 to 1999,138,172–300+,"Child-murderer, torture-killer, and rapist kno..."
1,Pedro López,Colombia\r\nPeru\r\nEcuador,1969 to 1979,110,300+,"Child-murderer and rapist, known as ""The Monst..."
2,Javed Iqbal,Pakistan,1998 to 1999,100,100,"Child-murderer and rapist, known as ""Kukri"", I..."
3,Mikhail Popkov,Russia,1992 to 2010,83,83+,"Serial rapist-killer nicknamed ""The Werewolf"",..."
4,Daniel Camargo Barbosa,Colombia\r\nEcuador\r\nBrazil (alleged),1974 to 1986,72,180,"Child and woman murderer, believed to have pos..."

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Name              29 non-null     object
 1   Country           29 non-null     object
 2   Years active      29 non-null     object
 3   Proven victims    29 non-null     int64
 4   Possible victims  29 non-null     object
 5   Notes             29 non-null     object
dtypes: int64(1), object(5)
memory usage: 1.5+ KB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 164 entries, 0 to 163
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Name              164 non-null    object
 1   Country           164 non-null    object
 2   Years active      164 non-null    object
 3   Proven victims    164 non-null    object
 4   Possible victims  98 non-null     object
 5   Notes             164 non-null    object
dtypes: object(6)
memory usage: 7.8+ KB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Name              78 non-null     object
 1   Country           78 non-null     object
 2   Years active      78 non-null     object
 3   Proven victims    78 non-null     int64
 4   Possible victims  76 non-null     object
 5   Notes             78 non-null     object
dtypes: int64(1), object(5)
memory usage: 3.8+ KB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Name              34 non-null     object
 1   Country           34 non-null     object
 2   Years active      34 non-null     object
 3   Proven victims    34 non-null     int64
 4   Possible victims  34 non-null     object
 5   Notes             34 non-null     object
dtypes: int64(1), object(5)
memory usage: 1.7+ KB

None

In [7]:
# collect all dataset
serial_killers = pd.concat([less_than_5, from_5_to_14, from_15_to_30, highest])
display(serial_killers.head())
serial_killers.info()

,Name,Country,Years active,Proven victims,Possible victims,Notes
0,Charlie Brandt,United States,1971 to 2004,4,29,Committed suicide by hanging after murdering h...
1,Robert Black,United Kingdom\r\nIreland (suspected)\r\nWest ...,1981 to 1986,4,18+,"Convicted of kidnapping, raping and murdering ..."
2,Max Gufler,Austria,1946 to 1958,4,18,"Poisoned and drowned four women, but suspected..."
3,Ernesto Picchioni,Italy,1949 and earlier,4,16,Murdered people who approached his home; died ...
4,Baekuni,Indonesia,1993 to 2010,4,14,Pedophile who raped and killed young boys; ini...

<class 'pandas.core.frame.DataFrame'>
Int64Index: 305 entries, 0 to 33
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Name              305 non-null    object
 1   Country           305 non-null    object
 2   Years active      305 non-null    object
 3   Proven victims    305 non-null    object
 4   Possible victims  237 non-null    object
 5   Notes             305 non-null    object
dtypes: object(6)
memory usage: 16.7+ KB

## 1. Analysis data and organise the data

In [8]:
# show unique years active
print(serial_killers['Years active'].unique())

['1971 to 2004' '1981 to 1986' '1946 to 1958' '1949 and earlier'
 '1993 to 2010' '1985 to 1986' '1912 and earlier' '1999' '2014 to 2015'
 '1974 to 1978' '1960 to 1964' '1978 to 1996' '1989 to 1990'
 '1991 to 2006' '1986' '1986 to 1987' '1909 to 1928' '1947 to 1952'
 '2009 to 2010' '1979 to 1980' '2007 to 2013' '1982 to 1988'
 '1973 to 1975' '1939 to 1940' '2008' '1924 to 1932' '1990 to 1996' '1995'
 '1974 to 1982' '1945 to 1946' '1964 to 1970' '1968 to 1985'
 '1955 to 1976' '1972 to 1989' '1974 to 1975' '1991' '1998 to 2001'
 '1995 to 1999' '2002 to 2004' '2004 to 2006' '2005' '1930s to 1947'
 '1900? to 1908?' '1934 to 1938' '2003' '1984 to 1985' '1990s to 2007'
 '1975 to 1980' '1995 to 2015' '1972 to 1973' '1962 to 1964'
 '1977 to 1993' '1979 to 1986' '1978 to 1981' '1984 to 1986'
 '1987 to 2002' '2002 to 2003' '1982 to 1989' '1990 to 2006' '2007'
 '2007 to 2008' '1980s to 1988' '1908 to 1935' '1953 to 1982'
 '1986 to 1992' '1991 to 2005' '2000 to 2002' '1978 to 1983'
 '1977 to 1978' '1975 to 1976' '1990 to 1998' '1975' '1998 to 2003'
 '1980 to 1981' '1985' 'c.1900 to 1912' '1992 to 1999'
 'late 1990s to 2006' '2008 to 2012' '1974 to 1992' '1964 to 1975'
 '1991 to 1992' '1927 to 1954' '1915 to 1919' '2003 to 2005'
 '2007 to 2009' '1993 to 1999' '1987 to 1994' '1971' '1992 to 1995'
 '1938 to 1942' '2008 and earlier' '1997 to 1998' '1998 to 2002'
 '1933 to 1936' '2000 to 2003' '1946 to 1947' '1983' '1996 to 2011'
 '1985 to 2007' '1984' '1990 to 1997' '2004 to 2008' '1964 to 1973'
 '1974 to 2004' '1997 to present' '1905 to 1908' '1990 to 1994'
 '1977 to 1979' '1995 to 1998' '2004 to 2012' '2006 to 2008'
 '1996 to 1998' '1980 to 1982' '1974 to 2006' '1986 to 1989'
 '1913 to 1930' '1986 to 1994' '1984 to 1992' '1989 to 1993'
 '1913 to 1920' '1966 to 1992' '1981 to 1996' '1958 to 1983'
 '2009 to 2012' '1988 to 1989' '2015 to 2016' '1996 to 2000' '2000s'
 '1958 to 1963' '1977 to 1980' '1928? to 1946' '1990 to 1995'
 '1971 to 1979' '1982 to 1983' '1980 to 1988' '1918 to 1919'
 '1965 to 1987' '2010 to 2017' '2007 to 2018' '1980 and earlier'
 '1964 to 1971' '1991 to 1999' '1990s' '1980s to 2010s' '1979 to 1981'
 '1997' '1960 to 1980' '2003 to 2016' '1981 to 2004' '2002' '2002 to 2018'
 '2016 to 2018' '1976 to 1977' '1980 to 1999' '1950s' '2005 to 2006'
 '1990s to 2015' '1986 to 1990' '2000 to 2006' '1977 to 1994'
 '1978 to 2002' '1962 to 1977' '1957 to 2009' '1915 to 1929' '2006'
 '1981 to 1987' '1948 to 1951' '1989 to 1992' '1976 to 1996'
 '30 June 1983 to 23 July 1983' '1900 to 1924' '1989 to 2003'
 '2010 to 2013' '2000 to 2001' '1993 to 2000' '1996 to 1997'
 '1939 to 1951' '1973 to 1979' '1985 to 1989' '1918 to 1924'
 '1912 to 1916' '1981 to 1985' '1989 to 2006' '1997 to 2006'
 '1926 to 1927' '1977 to 1995' '1999 to 2003' '1965 to 1977'
 '1917 to 1935' '2003 to 2004' '1880 to 1908' '1960s to 1970s'
 '2007 to 2012' '2005 to 2009' '1991 to 1996' '1982 to 1984'
 '1986 to 1996' '1988 to 1993' '1998 to 2006' '2008 to 2011'
 '1920 to 1926' '1998' '1994 to 2002' '1974' '1984 to 1987' '1996 to 2002'
 '1994 to 1995' '2001' '2001 to 2003' '2004' '1992 to 2002' '2002 to 2010'
 '1971 to 1983' '1987 to 2001' '1978 to 1991' '1987 to 1988'
 '2008 to 2009' '1975 to 1998' '1948 to 1980' '1969 to 1982'
 '1974 to 1987' '1997 to 1999' '2008 to 2015' '1911' '1980 to 1983'
 '1986 to 1999' '1987 to 1998' '1950s to 1956' '1983 to 1997'
 '1978 to 2001' '1933 to 1935' '1969 to 1979' '1998 to 1999'
 '1992 to 2010' '1974 to 1986' '1967 to 2003' '1970 to 2005'
 '1981 to 1983' '1978 to 1990' '1989 to 1996' '1934 to 1935' '1982'
 '1983 to 2002' '1982 to 2000' '1992 to 2006' '1995 to 2003'
 '1986 to 1997' '1965 to 1968' '2011 to 2014' '1984 to 2005'
 '1971 to 1985' '1906 and earlier' '1920 to 1930' '1972 to 1978'
 '1907 to 1934' '1921 to 1923' '1982 to 1999' '1999 to 2006'
 '2011 to 2012']

In [61]:
# for case where precise date is given
def return_year_from_date(text):
    temp = 0
    start = 0
    value = ''
    for i in text:
        if(i.isnumeric()):
            temp = temp + 1
            value = value + i
        if(temp == 4):
            start = int(value)
            break
        elif(not i.isnumeric() and temp != 4):
            temp = 0
            value = ''
    return start, int(text[-4:])

def return_start_end_year(text):
    start = 0
    end = 0
    if (len(text) == 4):
        start = int(text)
        end = int(text)
    elif (len(text) == 5):
        start = int(text[:4])
        if (text[-1] == 's'):
            end = start + 10
        elif (text[-1] == '?'):
            end = start
        else:
            print("there is an error, such a case is not analysed")
    elif ('to' in text and text[2] != ' '):
        if ('c.' in text):
            start = int(text[2:6])
        elif ('late' in text):
            start = int(text[5:9])
        else:
            start = int(text[:4])
        if ('present' in text):
            end = None
        else:
            if (text[-1] == 's' or text[-1] == '?'):
                end = int(text[-5:-1])
            else:
                end = int(text[-4:])
    elif ('late' in text):
            start = int(text[5:9])
            end = int(text[5:9])
    elif ('earlier' in text):
        start = None
        if ('c.' in text):
            end = int(text[2:6])
        else:
            end = int(text[:4])
    else:
        start, end = return_year_from_date(text)

    return start, end

# define two new columns
def start_end_year_of_active(row):
    """
    if there is only year - start and end is the same and it is that year
    if there is year to year - start is first year and second is end year
    if there is year and ealier - start is null and end is year
    if there is a '?' or 'c.' sign - it is analysis as it will not be there
    if there is a 's' - it is take all 10 years, example 2000s - start is 2000 and is 2010
    if there is year to present - start is a year and is null
    if late 1990s (or other with late) - start is 1996 end 2000
    """
    row['start_year'], row['end_year'] = return_start_end_year(row['Years active'])
    return row

# define how long killer is acitve
def time_of_active(row):
    if((row['end_year'] is not None) and (row['start_year'] is not None)):
        row['time_of_active'] = row['end_year'] - row['start_year']
    else:
        row['time_of_active'] = None
    return row

# add columns
serial_killers = serial_killers.apply(lambda row: start_end_year_of_active(row), axis = 1)
print("Add column of start and end year of activity")
display(serial_killers.head())
serial_killers = serial_killers.apply(lambda row: time_of_active(row), axis = 1)
print("Add column of start and end year of activity")
display(serial_killers.head())

Add column of start and end year of activity

,Name,Country,Years active,Proven victims,Possible victims,Notes,start_year,end_year
0,Charlie Brandt,United States,1971 to 2004,4,29,Committed suicide by hanging after murdering h...,1971.0,2004.0
1,Robert Black,United Kingdom\r\nIreland (suspected)\r\nWest ...,1981 to 1986,4,18+,"Convicted of kidnapping, raping and murdering ...",1981.0,1986.0
2,Max Gufler,Austria,1946 to 1958,4,18,"Poisoned and drowned four women, but suspected...",1946.0,1958.0
3,Ernesto Picchioni,Italy,1949 and earlier,4,16,Murdered people who approached his home; died ...,NaN,1949.0
4,Baekuni,Indonesia,1993 to 2010,4,14,Pedophile who raped and killed young boys; ini...,1993.0,2010.0

Add column of start and end year of activity

,Name,Country,Years active,Proven victims,Possible victims,Notes,start_year,end_year,time_of_active
0,Charlie Brandt,United States,1971 to 2004,4,29,Committed suicide by hanging after murdering h...,1971.0,2004.0,33.0
1,Robert Black,United Kingdom\r\nIreland (suspected)\r\nWest ...,1981 to 1986,4,18+,"Convicted of kidnapping, raping and murdering ...",1981.0,1986.0,5.0
2,Max Gufler,Austria,1946 to 1958,4,18,"Poisoned and drowned four women, but suspected...",1946.0,1958.0,12.0
3,Ernesto Picchioni,Italy,1949 and earlier,4,16,Murdered people who approached his home; died ...,NaN,1949.0,NaN
4,Baekuni,Indonesia,1993 to 2010,4,14,Pedophile who raped and killed young boys; ini...,1993.0,2010.0,17.0

In [62]:
# show unique time_of_active
display(serial_killers['time_of_active'].unique())

array([33.,  5., 12., nan, 17.,  1.,  0.,  4., 18., 15., 19.,  6.,  2.,
        8., 21.,  3., 20., 16.,  7., 27., 29., 14., 11., 22.,  9., 30.,
       32., 26., 25., 10., 13., 23., 24., 52., 28., 36., 35.])

In [63]:
# define how long killer is acitve
def time_of_active_range(row):
    if(row['time_of_active'] is None):
        row['time_of_active_range'] = 'not know'
    elif(row['time_of_active'] == 0):
        row['time_of_active_range'] = 'less than year'
    elif(row['time_of_active'] == 1):
        row['time_of_active_range'] = 'a year'
    elif(row['time_of_active'] <= 3):
        row['time_of_active_range'] = 'from 2 to 3 years'
    elif(row['time_of_active'] <= 5):
        row['time_of_active_range'] = 'from 4 to 5 years'
    elif(row['time_of_active'] <= 10):
        row['time_of_active_range'] = 'from 6 to 10 years'
    elif(row['time_of_active'] <= 20):
        row['time_of_active_range'] = 'from 11 to 20 years'
    else:
        row['time_of_active_range'] = 'more than 20'
    return row

# add column
serial_killers = serial_killers.apply(lambda row: time_of_active_range(row), axis = 1)
print("Add column of activite time range")
display(serial_killers.head())

Add column of activite time range

,Name,Country,Years active,Proven victims,Possible victims,Notes,start_year,end_year,time_of_active,time_of_active_range
0,Charlie Brandt,United States,1971 to 2004,4,29,Committed suicide by hanging after murdering h...,1971.0,2004.0,33.0,more than 20
1,Robert Black,United Kingdom\r\nIreland (suspected)\r\nWest ...,1981 to 1986,4,18+,"Convicted of kidnapping, raping and murdering ...",1981.0,1986.0,5.0,from 4 to 5 years
2,Max Gufler,Austria,1946 to 1958,4,18,"Poisoned and drowned four women, but suspected...",1946.0,1958.0,12.0,from 11 to 20 years
3,Ernesto Picchioni,Italy,1949 and earlier,4,16,Murdered people who approached his home; died ...,NaN,1949.0,NaN,more than 20
4,Baekuni,Indonesia,1993 to 2010,4,14,Pedophile who raped and killed young boys; ini...,1993.0,2010.0,17.0,from 11 to 20 years

In [84]:
# organise Proven victims and Possible victims
# show unique of 'Proven victims'
display(serial_killers['Proven victims'].unique())

array([4, 3, '14', '13', '12', '11–16', '11', '10', '9–13', '9', '8',
       '8–15', '8–11+', '7', '6', '5', 30, 28, 27, 26, 25, 24, 23, 22, 21,
       20, 19, 18, 17, 16, 15, 138, 110, 100, 83, 72, 71, 70, 67, 60, 58,
       53, 52, 50, 49, 48, 45, 42, 41, 39, 38, 36, 35, 33, 32],
      dtype=object)

In [85]:
# clean values in 'Proven victims'
"""
'Proven victims'
------------------
if value has a '+' it is not analysis
if it is given a range, for example 8-15, it will be take an avg of it
"""

# clean proven victims
"""
possible values:
array([4, 3, '14', '13', '12', '11–16', '11', '10', '9–13', '9', '8',
       '8–15', '8–11+', '7', '6', '5', 30, 28, 27, 26, 25, 24, 23, 22, 21,
       20, 19, 18, 17, 16, 15, 138, 110, 100, 83, 72, 71, 70, 67, 60, 58,
       53, 52, 50, 49, 48, 45, 42, 41, 39, 38, 36, 35, 33, 32],
      dtype=object)
"""
def proven_victims_avg(row):
    value = 0
    if(type(row['Proven victims']) == type(1)):
        value = row['Proven victims']
    elif(row['Proven victims'].isnumeric()):
        value = int(row['Proven victims'])
    elif('-' in row['Proven victims']):
        first, second = row['Proven victims'].split('-')
        if ('+' in first):
            print(f"First with '+' {first}")
            first = first[:-1]
            print(f"First without '+' {first}")
        if ('+' in second):
            print(f"Second with '+' {second}")
            second = second[:-1]
            print(f"Second without '+' {second}")
        first = int(first)
        second = int(second)
        value = (first + second) / 2
    row['proven_victims'] = value
    return row

serial_killers = serial_killers.apply(lambda x: proven_victims_avg(x), axis = 1)
serial_killers.head()

,Name,Country,Years active,Proven victims,Possible victims,Notes,start_year,end_year,time_of_active,time_of_active_range,proven_victims
0,Charlie Brandt,United States,1971 to 2004,4,29,Committed suicide by hanging after murdering h...,1971.0,2004.0,33.0,more than 20,4
1,Robert Black,United Kingdom\r\nIreland (suspected)\r\nWest ...,1981 to 1986,4,18+,"Convicted of kidnapping, raping and murdering ...",1981.0,1986.0,5.0,from 4 to 5 years,4
2,Max Gufler,Austria,1946 to 1958,4,18,"Poisoned and drowned four women, but suspected...",1946.0,1958.0,12.0,from 11 to 20 years,4
3,Ernesto Picchioni,Italy,1949 and earlier,4,16,Murdered people who approached his home; died ...,NaN,1949.0,NaN,more than 20,4
4,Baekuni,Indonesia,1993 to 2010,4,14,Pedophile who raped and killed young boys; ini...,1993.0,2010.0,17.0,from 11 to 20 years,4

In [81]:
serial_killers_by_active = serial_killers.pivot_table(index = {'time_of_active_range'}, aggfunc = 'mean')['proven_victims'].to_frame()
serial_killers_by_active.rename(columns = {'proven_victims' : 'avg_proven_victims'}, inplace = True)
serial_killers_by_active.reset_index(inplace = True)
serial_killers_by_active.head()

"""
by_BMI = not_diabetes_by_BMI.merge(is_diabetes_by_BMI, how = 'outer', on = 'BMI_description')#left_on='BMI_description', right_on='BMI_description')
by_BMI.rename(columns = {'number_of_people_x' : 'not_diabetes', 'number_of_people_y' : 'is_diabetes'}, inplace = True)
by_BMI.drop(columns = {'Outcome_x', 'Outcome_y'}, inplace = True)
by_BMI['is_diabetes'].fillna(value = 0.0, inplace = True)
display(by_BMI)
"""

display(serial_killers_by_active)

  time_of_active_range  avg_proven_victims
0               a year           16.283019
1  from 11 to 20 years           18.481481
2    from 2 to 3 years           16.139535
3    from 4 to 5 years           13.193548
4   from 6 to 10 years           17.967742
5       less than year           13.258065
6         more than 20           16.129032

In [83]:
# plot
domain = serial_killers_by_active['time_of_active_range']
fig = go.Figure()
fig.add_trace(go.Bar(x = domain, y = serial_killers_by_active['avg_proven_victims']))
fig.update_layout(title = 'Średnia ilość ofiar w zależności od czasu aktywności')
iplot(fig)

## Analiza ilości ofiar w zależności od czasu aktywności
Nie można jednoznacznie określić zależności między ilością lat aktywności a ilością udowodnionych ofiar danego seryjnego mordercy. Z początku można by przypuszczać, że im dłużej morderca jest aktywny tym więcej ma ofiar, jednak w pokazanym zestawieniu nie widać takiej zależności. Wynikać może to z wielu czynników, ponieważ seryjni mordecy to bardzo złożony temat i o ile często zabijają oni w jakiś odstępach czasu to czasy te mogą być bardzo długie (np. raz w roku czy nawet raz na 10 lat).

In [86]:
# clean Country
# show unique of 'Proven victims'
display(serial_killers['Country'].unique())

array(['United States',
       'United Kingdom\r\nIreland (suspected)\r\nWest Germany (suspected)\r\nNetherlands (suspected)\r\nFrance (suspected)',
       'Austria', 'Italy', 'Indonesia', 'Soviet Union', 'United Kingdom',
       'Mexico', 'Allied-occupied Germany\r\nWest Germany', 'Netherlands',
       'Japan', 'Turkey', 'Poland', 'West Germany', 'Brazil', 'Chile',
       'Russia', 'South Korea', 'Pakistan', 'Latvia', 'South Africa',
       'Argentina', 'Soviet Union\r\nRussia', 'Tunisia', 'Germany',
       'Thailand\r\nNepal\r\nIndia\r\nMalaysia', 'Yemen', 'Spain',
       'Australia', 'China', 'Austria\r\nUnited States\r\nCzechoslovakia',
       'Canada', 'France', 'Bangladesh', 'Belgium', 'Ukraine', 'India',
       'Soviet Union\r\nRussia\r\nUkraine',
       'East Germany\r\nGermany\r\nFrance\r\nSpain\r\nCzech Republic (suspected)\r\nItaly (suspected)',
       'German Empire\r\nGermany', 'Denmark', 'China\r\nJapan',
       'Spain\r\nFrance (claimed)\r\nItaly (claimed)',
       'Canada\r\nUnited States', 'Colombia', 'Cyprus', 'Belarus',
       'Costa Rica', 'United States\r\n Portuguese Angola',
       'Switzerland\r\nFrance\r\nUnited States\r\nYugoslavia (suspected)\r\nItaly (suspected)',
       'Czechoslovakia', 'Singapore', 'Swaziland', 'Greece',
       'Austria-Hungary', 'Iran',
       'France\r\nGermany (suspected)\r\nSwitzerland (suspected)',
       'Ecuador', 'United States\r\nCanada',
       'Soviet Union\r\nRussia\r\nTajikistan', 'Romania', 'Afghanistan',
       'Peru', 'France\r\nBelgium', 'Venezuela',
       'United States\r\nMexico', 'Colombia\r\nEcuador\r\nVenezuela',
       'Colombia\r\nPeru\r\nEcuador',
       'Colombia\r\nEcuador\r\nBrazil (alleged)',
       'Soviet Union\r\nUkraine', 'Morocco',
       'Kingdom of Romania\r\nYugoslavia\r\nHungary (alleged)',
       'Ottoman Empire\r\n Iraq\r\n Iran', 'Egypt'], dtype=object)

In [90]:
# define funcion of clean country
def country_cleaning(row, df):
    """
    devide by countries (duplicate when there is more than one countries and create new row)
    (suspected) and (alleged) will be removed
    """
    #print(row['Country'])
    list_of_countries = row['Country'].split('\r\n')
    if(len(list_of_countries) == 1):
        #print(f"One country in {row['Country']}")
        row['Country_clean'] = row['Country']
    else:
        item = 0
        while (item < len(list_of_countries)):
            country = list_of_countries[item]
            #print(f"Item = {item}, country = {list_of_countries[item]}")
            if("(suspected)" in country):
                #print(f"Country before reformat = {country}")
                country = list_of_countries[item].replace('(suspected)', '')
                #print(f"Country after reformat = {country}")
            if("(alleged)" in country):
                #print(f"Country before reformat = {country}")
                country = list_of_countries[item].replace('(alleged)', '')
                #print(f"Country after reformat = {country}")
            if("(claimed)" in country):
                #print(f"Country before reformat = {country}")
                country = list_of_countries[item].replace('(claimed)', '')
                #print(f"Country after reformat = {country}"
            country.lstrip()
            country.rstrip()
            if (item == 0):
                #print("add only element in new column")
                row['Country_clean'] = country
            else:
                #print("check if it work")
                new_row = row
                new_row['Country_clean'] = country
                df = df.append(new_row)
                #display(df[df['Country_clean'] == country])
            item = item + 1
    return row
        
serial_killers = serial_killers.apply(lambda x: country_cleaning(x, serial_killers), axis = 1)
display(serial_killers.head())
display(serial_killers['Country_clean'].unique())

/var/folders/dl/n6r7g5t96w30wn8vg3gb44640000gn/T/ipykernel_9343/3783095862.py:34: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

/var/folders/dl/n6r7g5t96w30wn8vg3gb44640000gn/T/ipykernel_9343/3783095862.py:34: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

/var/folders/dl/n6r7g5t96w30wn8vg3gb44640000gn/T/ipykernel_9343/3783095862.py:34: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

/var/folders/dl/n6r7g5t96w30wn8vg3gb44640000gn/T/ipykernel_9343/3783095862.py:34: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

/var/folders/dl/n6r7g5t96w30wn8vg3gb44640000gn/T/ipykernel_9343/3783095862.py:34: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

/var/folders/dl/n6r7g5t96w30wn8vg3gb44640000gn/T/ipykernel_9343/3783095862.py:34: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

/var/folders/dl/n6r7g5t96w30wn8vg3gb44640000gn/T/ipykernel_9343/3783095862.py:34: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

/var/folders/dl/n6r7g5t96w30wn8vg3gb44640000gn/T/ipykernel_9343/3783095862.py:34: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

/var/folders/dl/n6r7g5t96w30wn8vg3gb44640000gn/T/ipykernel_9343/3783095862.py:34: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

/var/folders/dl/n6r7g5t96w30wn8vg3gb44640000gn/T/ipykernel_9343/3783095862.py:34: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

/var/folders/dl/n6r7g5t96w30wn8vg3gb44640000gn/T/ipykernel_9343/3783095862.py:34: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

/var/folders/dl/n6r7g5t96w30wn8vg3gb44640000gn/T/ipykernel_9343/3783095862.py:34: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

/var/folders/dl/n6r7g5t96w30wn8vg3gb44640000gn/T/ipykernel_9343/3783095862.py:34: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

/var/folders/dl/n6r7g5t96w30wn8vg3gb44640000gn/T/ipykernel_9343/3783095862.py:34: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

/var/folders/dl/n6r7g5t96w30wn8vg3gb44640000gn/T/ipykernel_9343/3783095862.py:34: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

/var/folders/dl/n6r7g5t96w30wn8vg3gb44640000gn/T/ipykernel_9343/3783095862.py:34: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

/var/folders/dl/n6r7g5t96w30wn8vg3gb44640000gn/T/ipykernel_9343/3783095862.py:34: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

/var/folders/dl/n6r7g5t96w30wn8vg3gb44640000gn/T/ipykernel_9343/3783095862.py:34: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

/var/folders/dl/n6r7g5t96w30wn8vg3gb44640000gn/T/ipykernel_9343/3783095862.py:34: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

/var/folders/dl/n6r7g5t96w30wn8vg3gb44640000gn/T/ipykernel_9343/3783095862.py:34: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

/var/folders/dl/n6r7g5t96w30wn8vg3gb44640000gn/T/ipykernel_9343/3783095862.py:34: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

/var/folders/dl/n6r7g5t96w30wn8vg3gb44640000gn/T/ipykernel_9343/3783095862.py:34: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

/var/folders/dl/n6r7g5t96w30wn8vg3gb44640000gn/T/ipykernel_9343/3783095862.py:34: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

/var/folders/dl/n6r7g5t96w30wn8vg3gb44640000gn/T/ipykernel_9343/3783095862.py:34: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

/var/folders/dl/n6r7g5t96w30wn8vg3gb44640000gn/T/ipykernel_9343/3783095862.py:34: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

/var/folders/dl/n6r7g5t96w30wn8vg3gb44640000gn/T/ipykernel_9343/3783095862.py:34: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

/var/folders/dl/n6r7g5t96w30wn8vg3gb44640000gn/T/ipykernel_9343/3783095862.py:34: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

/var/folders/dl/n6r7g5t96w30wn8vg3gb44640000gn/T/ipykernel_9343/3783095862.py:34: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

/var/folders/dl/n6r7g5t96w30wn8vg3gb44640000gn/T/ipykernel_9343/3783095862.py:34: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

/var/folders/dl/n6r7g5t96w30wn8vg3gb44640000gn/T/ipykernel_9343/3783095862.py:34: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

/var/folders/dl/n6r7g5t96w30wn8vg3gb44640000gn/T/ipykernel_9343/3783095862.py:34: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

/var/folders/dl/n6r7g5t96w30wn8vg3gb44640000gn/T/ipykernel_9343/3783095862.py:34: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

/var/folders/dl/n6r7g5t96w30wn8vg3gb44640000gn/T/ipykernel_9343/3783095862.py:34: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

/var/folders/dl/n6r7g5t96w30wn8vg3gb44640000gn/T/ipykernel_9343/3783095862.py:34: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

/var/folders/dl/n6r7g5t96w30wn8vg3gb44640000gn/T/ipykernel_9343/3783095862.py:34: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

/var/folders/dl/n6r7g5t96w30wn8vg3gb44640000gn/T/ipykernel_9343/3783095862.py:34: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

/var/folders/dl/n6r7g5t96w30wn8vg3gb44640000gn/T/ipykernel_9343/3783095862.py:34: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

/var/folders/dl/n6r7g5t96w30wn8vg3gb44640000gn/T/ipykernel_9343/3783095862.py:34: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

/var/folders/dl/n6r7g5t96w30wn8vg3gb44640000gn/T/ipykernel_9343/3783095862.py:34: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

/var/folders/dl/n6r7g5t96w30wn8vg3gb44640000gn/T/ipykernel_9343/3783095862.py:34: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

/var/folders/dl/n6r7g5t96w30wn8vg3gb44640000gn/T/ipykernel_9343/3783095862.py:34: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

/var/folders/dl/n6r7g5t96w30wn8vg3gb44640000gn/T/ipykernel_9343/3783095862.py:34: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

/var/folders/dl/n6r7g5t96w30wn8vg3gb44640000gn/T/ipykernel_9343/3783095862.py:34: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

/var/folders/dl/n6r7g5t96w30wn8vg3gb44640000gn/T/ipykernel_9343/3783095862.py:34: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

/var/folders/dl/n6r7g5t96w30wn8vg3gb44640000gn/T/ipykernel_9343/3783095862.py:34: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

/var/folders/dl/n6r7g5t96w30wn8vg3gb44640000gn/T/ipykernel_9343/3783095862.py:34: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

/var/folders/dl/n6r7g5t96w30wn8vg3gb44640000gn/T/ipykernel_9343/3783095862.py:34: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

/var/folders/dl/n6r7g5t96w30wn8vg3gb44640000gn/T/ipykernel_9343/3783095862.py:34: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

/var/folders/dl/n6r7g5t96w30wn8vg3gb44640000gn/T/ipykernel_9343/3783095862.py:34: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

/var/folders/dl/n6r7g5t96w30wn8vg3gb44640000gn/T/ipykernel_9343/3783095862.py:34: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

,Name,Country,Years active,Proven victims,Possible victims,Notes,start_year,end_year,time_of_active,time_of_active_range,proven_victims,Country_clean
0,Charlie Brandt,United States,1971 to 2004,4,29,Committed suicide by hanging after murdering h...,1971.0,2004.0,33.0,more than 20,4,United States
1,Robert Black,United Kingdom\r\nIreland (suspected)\r\nWest ...,1981 to 1986,4,18+,"Convicted of kidnapping, raping and murdering ...",1981.0,1986.0,5.0,from 4 to 5 years,4,France
2,Max Gufler,Austria,1946 to 1958,4,18,"Poisoned and drowned four women, but suspected...",1946.0,1958.0,12.0,from 11 to 20 years,4,Austria
3,Ernesto Picchioni,Italy,1949 and earlier,4,16,Murdered people who approached his home; died ...,NaN,1949.0,NaN,more than 20,4,Italy
4,Baekuni,Indonesia,1993 to 2010,4,14,Pedophile who raped and killed young boys; ini...,1993.0,2010.0,17.0,from 11 to 20 years,4,Indonesia

array(['United States', 'France ', 'Austria', 'Italy', 'Indonesia',
       'Soviet Union', 'United Kingdom', 'Mexico', 'West Germany',
       'Netherlands', 'Japan', 'Turkey', 'Poland', 'Brazil', 'Chile',
       'Russia', 'South Korea', 'Pakistan', 'Latvia', 'South Africa',
       'Argentina', 'Tunisia', 'Germany', 'Malaysia', 'Yemen', 'Spain',
       'Australia', 'China', 'Czechoslovakia', 'Canada', 'France',
       'Bangladesh', 'Belgium', 'Ukraine', 'India', 'Italy ', 'Denmark',
       'Italy (claimed)', 'Colombia', 'Cyprus', 'Belarus', 'Costa Rica',
       ' Portuguese Angola', 'Singapore', 'Swaziland', 'Greece',
       'Austria-Hungary', 'Iran', 'Switzerland ', 'Ecuador', 'Tajikistan',
       'Romania', 'Afghanistan', 'Peru', 'Venezuela', 'Brazil (alleged)',
       'Morocco', 'Hungary (alleged)', ' Iran', 'Egypt'], dtype=object)